In [1]:
import itertools
import os

import pandas as pd
from scipy.stats import mannwhitneyu
import numpy as np

import utils

In [2]:
# Input parameters
country_codes = ['ESP', 'USA', 'EST', 'ETH']
dem_names = ['AW3D30', 'COP30', 'HydroSHEDS', 'MERIT', 'NASADEM', 'TanDEM']
feature_types = ['basin', 'stream']
stat_names = ['forest_pct', 'slope_median']

In [3]:
for stat_name in stat_names:
    for feature_type in feature_types:
        out_fp = f'D:/dem_comparison/data/mannwhitneyu_{stat_name}_{feature_type}.xlsx'
        if os.path.exists(out_fp):
            os.remove(out_fp)
        for country_code in country_codes:
            merged = utils.merge_stats_for_plot(country_code, dem_names, feature_type, stat_name)
            merged[f'{stat_name}_class'] = merged.apply(utils.get_class_func(stat_name), axis=1)
            stat_classes = merged[f'{stat_name}_class'].unique()
            row_list = []
            for dem_name in dem_names:
                for class_pair in itertools.combinations(stat_classes, 2):
                    class_1 = class_pair[0]
                    class_2 = class_pair[1]
                    subset_1 = merged.loc[merged[f'{stat_name}_class'] == class_1]
                    subset_2 = merged.loc[merged[f'{stat_name}_class'] == class_2]
                    x = subset_1.loc[subset_1['dem_name'] == dem_name]['dist_to_ref'].to_list()
                    y = subset_2.loc[subset_2['dem_name'] == dem_name]['dist_to_ref'].to_list()
                    try:
                        U1, p = mannwhitneyu(x, y)
                        U1 = round(U1, 1)
                        p = round(p, 3)
                    except ValueError:
                        U1 = np.nan
                        p = np.nan
                    catchment_name = utils.get_catchment_name(country_code)
                    if p < 0.05:
                        significance = 1
                    else:
                        significance = 0
                    row = (
                        catchment_name,
                        country_code,
                        dem_name,
                        feature_type,
                        stat_name,
                        class_1,
                        len(x),
                        class_2,
                        len(y),
                        U1,
                        p,
                        significance
                    )
                    row_list.append(row)
            out_df_columns = [
                'catchment_name',
                'country_code',
                'dem_name',
                'feature_type',
                'stat_name',
                'class_1',
                'count_1',
                'class_2',
                'count_2',
                'U',
                'p',
                'significant'
            ]
            out_df = pd.DataFrame(row_list, columns=out_df_columns)
            display(out_df)
            if not os.path.exists(out_fp):
                out_df.to_excel(out_fp, sheet_name=catchment_name, index=False)
            else:
                with pd.ExcelWriter(out_fp, mode='a') as writer:
                    out_df.to_excel(writer, sheet_name=catchment_name, index=False)

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Argos,ESP,AW3D30,basin,forest_pct,< 10,438,10 - 25,117,29589.5,0.010,1
1,Argos,ESP,AW3D30,basin,forest_pct,< 10,438,25 - 50,263,65909.5,0.001,1
2,Argos,ESP,AW3D30,basin,forest_pct,< 10,438,> 50,1006,257078.0,0.000,1
3,Argos,ESP,AW3D30,basin,forest_pct,10 - 25,117,25 - 50,263,15350.0,0.972,0
4,Argos,ESP,AW3D30,basin,forest_pct,10 - 25,117,> 50,1006,60301.0,0.662,0
5,Argos,ESP,AW3D30,basin,forest_pct,25 - 50,263,> 50,1006,138296.0,0.256,0
6,Argos,ESP,COP30,basin,forest_pct,< 10,442,10 - 25,111,26142.0,0.285,0
7,Argos,ESP,COP30,basin,forest_pct,< 10,442,25 - 50,242,58480.0,0.043,1
8,Argos,ESP,COP30,basin,forest_pct,< 10,442,> 50,986,244489.0,0.000,1
9,Argos,ESP,COP30,basin,forest_pct,10 - 25,111,25 - 50,242,13925.0,0.579,0
10,Argos,ESP,COP30,basin,forest_pct,10 - 25,111,> 50,986,58765.5,0.202,0
11,Argos,ESP,COP30,basin,forest_pct,25 - 50,242,> 50,986,123980.0,0.344,0
12,Argos,ESP,HydroSHEDS,basin,forest_pct,< 10,412,10 - 25,112,22941.0,0.927,0
13,Argos,ESP,HydroSHEDS,basin,forest_pct,< 10,412,25 - 50,221,50571.5,0.021,1
14,Argos,ESP,HydroSHEDS,basin,forest_pct,< 10,412,> 50,916,214174.5,0.000,1
15,Argos,ESP,HydroSHEDS,basin,forest_pct,10 - 25,112,25 - 50,221,14037.0,0.045,1
16,Argos,ESP,HydroSHEDS,basin,forest_pct,10 - 25,112,> 50,916,59291.0,0.007,1
17,Argos,ESP,HydroSHEDS,basin,forest_pct,25 - 50,221,> 50,916,103631.5,0.582,0
18,Argos,ESP,MERIT,basin,forest_pct,< 10,451,10 - 25,106,29405.0,0.000,1
19,Argos,ESP,MERIT,basin,forest_pct,< 10,451,25 - 50,249,63954.5,0.002,1
20,Argos,ESP,MERIT,basin,forest_pct,< 10,451,> 50,879,233103.0,0.000,1
21,Argos,ESP,MERIT,basin,forest_pct,10 - 25,106,25 - 50,249,11607.0,0.072,0
22,Argos,ESP,MERIT,basin,forest_pct,10 - 25,106,> 50,879,43149.0,0.214,0
23,Argos,ESP,MERIT,basin,forest_pct,25 - 50,249,> 50,879,114275.5,0.286,0
24,Argos,ESP,NASADEM,basin,forest_pct,< 10,465,10 - 25,114,31721.0,0.001,1
25,Argos,ESP,NASADEM,basin,forest_pct,< 10,465,25 - 50,244,66438.5,0.000,1
26,Argos,ESP,NASADEM,basin,forest_pct,< 10,465,> 50,1007,284868.0,0.000,1
27,Argos,ESP,NASADEM,basin,forest_pct,10 - 25,114,25 - 50,244,13454.0,0.619,0
28,Argos,ESP,NASADEM,basin,forest_pct,10 - 25,114,> 50,1007,57958.0,0.865,0
29,Argos,ESP,NASADEM,basin,forest_pct,25 - 50,244,> 50,1007,132067.5,0.069,0
30,Argos,ESP,TanDEM,basin,forest_pct,< 10,454,10 - 25,124,31066.0,0.077,0
31,Argos,ESP,TanDEM,basin,forest_pct,< 10,454,25 - 50,225,55837.0,0.048,1
32,Argos,ESP,TanDEM,basin,forest_pct,< 10,454,> 50,893,232335.5,0.000,1
33,Argos,ESP,TanDEM,basin,forest_pct,10 - 25,124,25 - 50,225,13819.5,0.885,0
34,Argos,ESP,TanDEM,basin,forest_pct,10 - 25,124,> 50,893,58291.0,0.340,0
35,Argos,ESP,TanDEM,basin,forest_pct,25 - 50,225,> 50,893,107085.0,0.126,0

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Bald Eagle,USA,AW3D30,basin,forest_pct,< 10,289,10 - 25,81,11474.0,0.787,0
1,Bald Eagle,USA,AW3D30,basin,forest_pct,< 10,289,25 - 50,110,17802.0,0.064,0
2,Bald Eagle,USA,AW3D30,basin,forest_pct,< 10,289,> 50,3006,433480.0,0.954,0
3,Bald Eagle,USA,AW3D30,basin,forest_pct,10 - 25,81,25 - 50,110,5108.0,0.084,0
4,Bald Eagle,USA,AW3D30,basin,forest_pct,10 - 25,81,> 50,3006,124140.0,0.762,0
5,Bald Eagle,USA,AW3D30,basin,forest_pct,25 - 50,110,> 50,3006,144929.0,0.028,1
6,Bald Eagle,USA,COP30,basin,forest_pct,< 10,289,10 - 25,69,9126.0,0.275,0
7,Bald Eagle,USA,COP30,basin,forest_pct,< 10,289,25 - 50,111,16238.0,0.848,0
8,Bald Eagle,USA,COP30,basin,forest_pct,< 10,289,> 50,3002,448453.0,0.342,0
9,Bald Eagle,USA,COP30,basin,forest_pct,10 - 25,69,25 - 50,111,4168.0,0.320,0
10,Bald Eagle,USA,COP30,basin,forest_pct,10 - 25,69,> 50,3002,115565.0,0.099,0
11,Bald Eagle,USA,COP30,basin,forest_pct,25 - 50,111,> 50,3002,170569.0,0.670,0
12,Bald Eagle,USA,HydroSHEDS,basin,forest_pct,< 10,283,10 - 25,93,12662.0,0.585,0
13,Bald Eagle,USA,HydroSHEDS,basin,forest_pct,< 10,283,25 - 50,143,18743.5,0.214,0
14,Bald Eagle,USA,HydroSHEDS,basin,forest_pct,< 10,283,> 50,2728,387361.5,0.923,0
15,Bald Eagle,USA,HydroSHEDS,basin,forest_pct,10 - 25,93,25 - 50,143,6365.0,0.579,0
16,Bald Eagle,USA,HydroSHEDS,basin,forest_pct,10 - 25,93,> 50,2728,133515.0,0.388,0
17,Bald Eagle,USA,HydroSHEDS,basin,forest_pct,25 - 50,143,> 50,2728,214128.5,0.048,1
18,Bald Eagle,USA,MERIT,basin,forest_pct,< 10,273,10 - 25,75,10421.0,0.813,0
19,Bald Eagle,USA,MERIT,basin,forest_pct,< 10,273,25 - 50,144,21907.0,0.054,0
20,Bald Eagle,USA,MERIT,basin,forest_pct,< 10,273,> 50,2678,420384.0,0.000,1
21,Bald Eagle,USA,MERIT,basin,forest_pct,10 - 25,75,25 - 50,144,5938.0,0.227,0
22,Bald Eagle,USA,MERIT,basin,forest_pct,10 - 25,75,> 50,2678,114316.0,0.041,1
23,Bald Eagle,USA,MERIT,basin,forest_pct,25 - 50,144,> 50,2678,199578.0,0.478,0
24,Bald Eagle,USA,NASADEM,basin,forest_pct,< 10,278,10 - 25,77,11272.0,0.476,0
25,Bald Eagle,USA,NASADEM,basin,forest_pct,< 10,278,25 - 50,164,21094.0,0.190,0
26,Bald Eagle,USA,NASADEM,basin,forest_pct,< 10,278,> 50,2940,478883.0,0.000,1
27,Bald Eagle,USA,NASADEM,basin,forest_pct,10 - 25,77,25 - 50,164,5570.0,0.141,0
28,Bald Eagle,USA,NASADEM,basin,forest_pct,10 - 25,77,> 50,2940,125539.0,0.102,0
29,Bald Eagle,USA,NASADEM,basin,forest_pct,25 - 50,164,> 50,2940,294076.0,0.000,1
30,Bald Eagle,USA,TanDEM,basin,forest_pct,< 10,248,10 - 25,77,10465.5,0.203,0
31,Bald Eagle,USA,TanDEM,basin,forest_pct,< 10,248,25 - 50,128,15317.0,0.579,0
32,Bald Eagle,USA,TanDEM,basin,forest_pct,< 10,248,> 50,2756,350438.5,0.506,0
33,Bald Eagle,USA,TanDEM,basin,forest_pct,10 - 25,77,25 - 50,128,4283.0,0.117,0
34,Bald Eagle,USA,TanDEM,basin,forest_pct,10 - 25,77,> 50,2756,99341.5,0.339,0
35,Bald Eagle,USA,TanDEM,basin,forest_pct,25 - 50,128,> 50,2756,186565.0,0.269,0

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Porijgi,EST,AW3D30,basin,forest_pct,< 10,142,10 - 25,57,3377.0,0.068,0
1,Porijgi,EST,AW3D30,basin,forest_pct,< 10,142,25 - 50,97,5056.0,0.000,1
2,Porijgi,EST,AW3D30,basin,forest_pct,< 10,142,> 50,959,49679.0,0.000,1
3,Porijgi,EST,AW3D30,basin,forest_pct,10 - 25,57,25 - 50,97,2522.0,0.365,0
4,Porijgi,EST,AW3D30,basin,forest_pct,10 - 25,57,> 50,959,25576.0,0.415,0
5,Porijgi,EST,AW3D30,basin,forest_pct,25 - 50,97,> 50,959,48330.0,0.525,0
6,Porijgi,EST,COP30,basin,forest_pct,< 10,203,10 - 25,81,8897.0,0.280,0
7,Porijgi,EST,COP30,basin,forest_pct,< 10,203,25 - 50,103,9951.0,0.492,0
8,Porijgi,EST,COP30,basin,forest_pct,< 10,203,> 50,985,82685.0,0.000,1
9,Porijgi,EST,COP30,basin,forest_pct,10 - 25,81,25 - 50,103,3536.0,0.077,0
10,Porijgi,EST,COP30,basin,forest_pct,10 - 25,81,> 50,985,27437.0,0.000,1
11,Porijgi,EST,COP30,basin,forest_pct,25 - 50,103,> 50,985,42236.0,0.005,1
12,Porijgi,EST,HydroSHEDS,basin,forest_pct,< 10,97,10 - 25,55,2603.0,0.806,0
13,Porijgi,EST,HydroSHEDS,basin,forest_pct,< 10,97,25 - 50,90,3488.0,0.018,1
14,Porijgi,EST,HydroSHEDS,basin,forest_pct,< 10,97,> 50,969,37196.0,0.001,1
15,Porijgi,EST,HydroSHEDS,basin,forest_pct,10 - 25,55,25 - 50,90,2084.0,0.112,0
16,Porijgi,EST,HydroSHEDS,basin,forest_pct,10 - 25,55,> 50,969,22511.0,0.053,0
17,Porijgi,EST,HydroSHEDS,basin,forest_pct,25 - 50,90,> 50,969,43784.0,0.949,0
18,Porijgi,EST,MERIT,basin,forest_pct,< 10,229,10 - 25,94,12351.0,0.037,1
19,Porijgi,EST,MERIT,basin,forest_pct,< 10,229,25 - 50,162,19201.0,0.554,0
20,Porijgi,EST,MERIT,basin,forest_pct,< 10,229,> 50,780,84962.0,0.262,0
21,Porijgi,EST,MERIT,basin,forest_pct,10 - 25,94,25 - 50,162,6642.0,0.089,0
22,Porijgi,EST,MERIT,basin,forest_pct,10 - 25,94,> 50,780,29504.0,0.002,1
23,Porijgi,EST,MERIT,basin,forest_pct,25 - 50,162,> 50,780,57797.0,0.088,0
24,Porijgi,EST,NASADEM,basin,forest_pct,< 10,108,10 - 25,56,3317.0,0.310,0
25,Porijgi,EST,NASADEM,basin,forest_pct,< 10,108,25 - 50,92,3430.0,0.000,1
26,Porijgi,EST,NASADEM,basin,forest_pct,< 10,108,> 50,1034,36849.0,0.000,1
27,Porijgi,EST,NASADEM,basin,forest_pct,10 - 25,56,25 - 50,92,1603.0,0.000,1
28,Porijgi,EST,NASADEM,basin,forest_pct,10 - 25,56,> 50,1034,17397.0,0.000,1
29,Porijgi,EST,NASADEM,basin,forest_pct,25 - 50,92,> 50,1034,45549.0,0.500,0
30,Porijgi,EST,TanDEM,basin,forest_pct,< 10,208,10 - 25,62,7250.0,0.137,0
31,Porijgi,EST,TanDEM,basin,forest_pct,< 10,208,25 - 50,101,10626.0,0.869,0
32,Porijgi,EST,TanDEM,basin,forest_pct,< 10,208,> 50,958,91469.0,0.064,0
33,Porijgi,EST,TanDEM,basin,forest_pct,10 - 25,62,25 - 50,101,2759.0,0.204,0
34,Porijgi,EST,TanDEM,basin,forest_pct,10 - 25,62,> 50,958,20824.0,0.000,1
35,Porijgi,EST,TanDEM,basin,forest_pct,25 - 50,101,> 50,958,43577.0,0.101,0

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Rib,ETH,AW3D30,basin,forest_pct,< 10,2351,10 - 25,242,280828.0,0.743,0
1,Rib,ETH,AW3D30,basin,forest_pct,< 10,2351,25 - 50,191,231733.0,0.460,0
2,Rib,ETH,AW3D30,basin,forest_pct,< 10,2351,> 50,122,162886.0,0.011,1
3,Rib,ETH,AW3D30,basin,forest_pct,10 - 25,242,25 - 50,191,24167.0,0.414,0
4,Rib,ETH,AW3D30,basin,forest_pct,10 - 25,242,> 50,122,17000.0,0.018,1
5,Rib,ETH,AW3D30,basin,forest_pct,25 - 50,191,> 50,122,12985.0,0.088,0
6,Rib,ETH,COP30,basin,forest_pct,< 10,2345,10 - 25,236,265313.0,0.296,0
7,Rib,ETH,COP30,basin,forest_pct,< 10,2345,25 - 50,187,214400.0,0.614,0
8,Rib,ETH,COP30,basin,forest_pct,< 10,2345,> 50,127,174767.0,0.001,1
9,Rib,ETH,COP30,basin,forest_pct,10 - 25,236,25 - 50,187,22523.0,0.715,0
10,Rib,ETH,COP30,basin,forest_pct,10 - 25,236,> 50,127,18164.0,0.001,1
11,Rib,ETH,COP30,basin,forest_pct,25 - 50,187,> 50,127,14228.0,0.003,1
12,Rib,ETH,HydroSHEDS,basin,forest_pct,< 10,2438,10 - 25,230,296015.0,0.161,0
13,Rib,ETH,HydroSHEDS,basin,forest_pct,< 10,2438,25 - 50,165,213005.0,0.204,0
14,Rib,ETH,HydroSHEDS,basin,forest_pct,< 10,2438,> 50,136,186973.0,0.012,1
15,Rib,ETH,HydroSHEDS,basin,forest_pct,10 - 25,230,25 - 50,165,18886.0,0.937,0
16,Rib,ETH,HydroSHEDS,basin,forest_pct,10 - 25,230,> 50,136,16648.0,0.303,0
17,Rib,ETH,HydroSHEDS,basin,forest_pct,25 - 50,165,> 50,136,12156.0,0.213,0
18,Rib,ETH,MERIT,basin,forest_pct,< 10,2467,10 - 25,231,305687.0,0.067,0
19,Rib,ETH,MERIT,basin,forest_pct,< 10,2467,25 - 50,170,214040.0,0.651,0
20,Rib,ETH,MERIT,basin,forest_pct,< 10,2467,> 50,134,192342.0,0.001,1
21,Rib,ETH,MERIT,basin,forest_pct,10 - 25,231,25 - 50,170,18518.0,0.330,0
22,Rib,ETH,MERIT,basin,forest_pct,10 - 25,231,> 50,134,16843.0,0.160,0
23,Rib,ETH,MERIT,basin,forest_pct,25 - 50,170,> 50,134,13012.0,0.033,1
24,Rib,ETH,NASADEM,basin,forest_pct,< 10,2368,10 - 25,237,281165.0,0.960,0
25,Rib,ETH,NASADEM,basin,forest_pct,< 10,2368,25 - 50,168,173781.0,0.006,1
26,Rib,ETH,NASADEM,basin,forest_pct,< 10,2368,> 50,137,171503.0,0.259,0
27,Rib,ETH,NASADEM,basin,forest_pct,10 - 25,237,25 - 50,168,17330.0,0.026,1
28,Rib,ETH,NASADEM,basin,forest_pct,10 - 25,237,> 50,137,17142.0,0.368,0
29,Rib,ETH,NASADEM,basin,forest_pct,25 - 50,168,> 50,137,13734.0,0.004,1
30,Rib,ETH,TanDEM,basin,forest_pct,< 10,2412,10 - 25,226,270251.0,0.833,0
31,Rib,ETH,TanDEM,basin,forest_pct,< 10,2412,25 - 50,181,224845.0,0.500,0
32,Rib,ETH,TanDEM,basin,forest_pct,< 10,2412,> 50,123,180206.0,0.000,1
33,Rib,ETH,TanDEM,basin,forest_pct,10 - 25,226,25 - 50,181,21265.0,0.491,0
34,Rib,ETH,TanDEM,basin,forest_pct,10 - 25,226,> 50,123,17009.0,0.001,1
35,Rib,ETH,TanDEM,basin,forest_pct,25 - 50,181,> 50,123,13223.0,0.005,1

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Argos,ESP,AW3D30,stream,forest_pct,< 10,1122,10 - 25,411,276869.5,0.000,1
1,Argos,ESP,AW3D30,stream,forest_pct,< 10,1122,25 - 50,640,462161.5,0.000,1
2,Argos,ESP,AW3D30,stream,forest_pct,< 10,1122,> 50,1247,977672.0,0.000,1
3,Argos,ESP,AW3D30,stream,forest_pct,10 - 25,411,25 - 50,640,141959.5,0.030,1
4,Argos,ESP,AW3D30,stream,forest_pct,10 - 25,411,> 50,1247,305238.0,0.000,1
5,Argos,ESP,AW3D30,stream,forest_pct,25 - 50,640,> 50,1247,444724.0,0.000,1
6,Argos,ESP,COP30,stream,forest_pct,< 10,935,10 - 25,344,177242.5,0.005,1
7,Argos,ESP,COP30,stream,forest_pct,< 10,935,25 - 50,537,303411.5,0.000,1
8,Argos,ESP,COP30,stream,forest_pct,< 10,935,> 50,1008,609139.0,0.000,1
9,Argos,ESP,COP30,stream,forest_pct,10 - 25,344,25 - 50,537,104248.5,0.001,1
10,Argos,ESP,COP30,stream,forest_pct,10 - 25,344,> 50,1008,211589.5,0.000,1
11,Argos,ESP,COP30,stream,forest_pct,25 - 50,537,> 50,1008,297032.5,0.002,1
12,Argos,ESP,HydroSHEDS,stream,forest_pct,< 10,1148,10 - 25,397,245005.5,0.025,1
13,Argos,ESP,HydroSHEDS,stream,forest_pct,< 10,1148,25 - 50,527,332917.5,0.001,1
14,Argos,ESP,HydroSHEDS,stream,forest_pct,< 10,1148,> 50,1038,722271.0,0.000,1
15,Argos,ESP,HydroSHEDS,stream,forest_pct,10 - 25,397,25 - 50,527,107983.0,0.401,0
16,Argos,ESP,HydroSHEDS,stream,forest_pct,10 - 25,397,> 50,1038,236750.5,0.000,1
17,Argos,ESP,HydroSHEDS,stream,forest_pct,25 - 50,527,> 50,1038,305164.5,0.000,1
18,Argos,ESP,MERIT,stream,forest_pct,< 10,1127,10 - 25,382,241717.5,0.000,1
19,Argos,ESP,MERIT,stream,forest_pct,< 10,1127,25 - 50,586,401339.0,0.000,1
20,Argos,ESP,MERIT,stream,forest_pct,< 10,1127,> 50,1056,797695.0,0.000,1
21,Argos,ESP,MERIT,stream,forest_pct,10 - 25,382,25 - 50,586,123352.0,0.007,1
22,Argos,ESP,MERIT,stream,forest_pct,10 - 25,382,> 50,1056,250339.5,0.000,1
23,Argos,ESP,MERIT,stream,forest_pct,25 - 50,586,> 50,1056,353776.5,0.000,1
24,Argos,ESP,NASADEM,stream,forest_pct,< 10,1127,10 - 25,375,229934.0,0.010,1
25,Argos,ESP,NASADEM,stream,forest_pct,< 10,1127,25 - 50,637,410135.5,0.000,1
26,Argos,ESP,NASADEM,stream,forest_pct,< 10,1127,> 50,1160,866644.0,0.000,1
27,Argos,ESP,NASADEM,stream,forest_pct,10 - 25,375,25 - 50,637,126827.5,0.099,0
28,Argos,ESP,NASADEM,stream,forest_pct,10 - 25,375,> 50,1160,272887.0,0.000,1
29,Argos,ESP,NASADEM,stream,forest_pct,25 - 50,637,> 50,1160,440349.5,0.000,1
30,Argos,ESP,TanDEM,stream,forest_pct,< 10,1062,10 - 25,362,213419.5,0.002,1
31,Argos,ESP,TanDEM,stream,forest_pct,< 10,1062,25 - 50,598,367930.5,0.000,1
32,Argos,ESP,TanDEM,stream,forest_pct,< 10,1062,> 50,1065,739724.5,0.000,1
33,Argos,ESP,TanDEM,stream,forest_pct,10 - 25,362,25 - 50,598,114078.5,0.161,0
34,Argos,ESP,TanDEM,stream,forest_pct,10 - 25,362,> 50,1065,234025.5,0.000,1
35,Argos,ESP,TanDEM,stream,forest_pct,25 - 50,598,> 50,1065,369492.5,0.000,1

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Bald Eagle,USA,AW3D30,stream,forest_pct,< 10,740,10 - 25,713,275792.5,0.134,0
1,Bald Eagle,USA,AW3D30,stream,forest_pct,< 10,740,25 - 50,1424,586022.5,0.000,1
2,Bald Eagle,USA,AW3D30,stream,forest_pct,< 10,740,> 50,7334,3710809.5,0.000,1
3,Bald Eagle,USA,AW3D30,stream,forest_pct,10 - 25,713,25 - 50,1424,549759.5,0.002,1
4,Bald Eagle,USA,AW3D30,stream,forest_pct,10 - 25,713,> 50,7334,3575926.0,0.000,1
5,Bald Eagle,USA,AW3D30,stream,forest_pct,25 - 50,1424,> 50,7334,6874783.5,0.000,1
6,Bald Eagle,USA,COP30,stream,forest_pct,< 10,605,10 - 25,587,170826.0,0.257,0
7,Bald Eagle,USA,COP30,stream,forest_pct,< 10,605,25 - 50,1247,409675.0,0.003,1
8,Bald Eagle,USA,COP30,stream,forest_pct,< 10,605,> 50,6697,2668907.5,0.000,1
9,Bald Eagle,USA,COP30,stream,forest_pct,10 - 25,587,25 - 50,1247,423143.5,0.000,1
10,Bald Eagle,USA,COP30,stream,forest_pct,10 - 25,587,> 50,6697,2803924.5,0.000,1
11,Bald Eagle,USA,COP30,stream,forest_pct,25 - 50,1247,> 50,6697,5449733.0,0.000,1
12,Bald Eagle,USA,HydroSHEDS,stream,forest_pct,< 10,851,10 - 25,600,294759.0,0.000,1
13,Bald Eagle,USA,HydroSHEDS,stream,forest_pct,< 10,851,25 - 50,1031,558799.5,0.000,1
14,Bald Eagle,USA,HydroSHEDS,stream,forest_pct,< 10,851,> 50,6944,4121434.0,0.000,1
15,Bald Eagle,USA,HydroSHEDS,stream,forest_pct,10 - 25,600,25 - 50,1031,350692.5,0.000,1
16,Bald Eagle,USA,HydroSHEDS,stream,forest_pct,10 - 25,600,> 50,6944,2659928.0,0.000,1
17,Bald Eagle,USA,HydroSHEDS,stream,forest_pct,25 - 50,1031,> 50,6944,4131286.5,0.000,1
18,Bald Eagle,USA,MERIT,stream,forest_pct,< 10,637,10 - 25,460,167424.0,0.000,1
19,Bald Eagle,USA,MERIT,stream,forest_pct,< 10,637,25 - 50,963,378254.0,0.000,1
20,Bald Eagle,USA,MERIT,stream,forest_pct,< 10,637,> 50,7403,3290089.5,0.000,1
21,Bald Eagle,USA,MERIT,stream,forest_pct,10 - 25,460,25 - 50,963,243182.5,0.003,1
22,Bald Eagle,USA,MERIT,stream,forest_pct,10 - 25,460,> 50,7403,2188565.0,0.000,1
23,Bald Eagle,USA,MERIT,stream,forest_pct,25 - 50,963,> 50,7403,4269656.0,0.000,1
24,Bald Eagle,USA,NASADEM,stream,forest_pct,< 10,763,10 - 25,672,279724.0,0.003,1
25,Bald Eagle,USA,NASADEM,stream,forest_pct,< 10,763,25 - 50,1225,560320.0,0.000,1
26,Bald Eagle,USA,NASADEM,stream,forest_pct,< 10,763,> 50,7003,3987261.0,0.000,1
27,Bald Eagle,USA,NASADEM,stream,forest_pct,10 - 25,672,25 - 50,1225,460300.0,0.000,1
28,Bald Eagle,USA,NASADEM,stream,forest_pct,10 - 25,672,> 50,7003,3446526.5,0.000,1
29,Bald Eagle,USA,NASADEM,stream,forest_pct,25 - 50,1225,> 50,7003,5907147.5,0.000,1
30,Bald Eagle,USA,TanDEM,stream,forest_pct,< 10,770,10 - 25,581,256339.5,0.000,1
31,Bald Eagle,USA,TanDEM,stream,forest_pct,< 10,770,25 - 50,1150,545047.5,0.000,1
32,Bald Eagle,USA,TanDEM,stream,forest_pct,< 10,770,> 50,6897,3865905.0,0.000,1
33,Bald Eagle,USA,TanDEM,stream,forest_pct,10 - 25,581,25 - 50,1150,365735.0,0.001,1
34,Bald Eagle,USA,TanDEM,stream,forest_pct,10 - 25,581,> 50,6897,2717046.0,0.000,1
35,Bald Eagle,USA,TanDEM,stream,forest_pct,25 - 50,1150,> 50,6897,5074753.5,0.000,1

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Porijgi,EST,AW3D30,stream,forest_pct,< 10,287,10 - 25,181,29370.0,0.017,1
1,Porijgi,EST,AW3D30,stream,forest_pct,< 10,287,25 - 50,326,51628.0,0.027,1
2,Porijgi,EST,AW3D30,stream,forest_pct,< 10,287,> 50,958,163682.0,0.000,1
3,Porijgi,EST,AW3D30,stream,forest_pct,10 - 25,181,25 - 50,326,29271.0,0.884,0
4,Porijgi,EST,AW3D30,stream,forest_pct,10 - 25,181,> 50,958,96433.0,0.016,1
5,Porijgi,EST,AW3D30,stream,forest_pct,25 - 50,326,> 50,958,175831.0,0.001,1
6,Porijgi,EST,COP30,stream,forest_pct,< 10,167,10 - 25,137,11080.0,0.638,0
7,Porijgi,EST,COP30,stream,forest_pct,< 10,167,25 - 50,288,21251.0,0.039,1
8,Porijgi,EST,COP30,stream,forest_pct,< 10,167,> 50,825,73435.0,0.178,0
9,Porijgi,EST,COP30,stream,forest_pct,10 - 25,137,25 - 50,288,18083.0,0.165,0
10,Porijgi,EST,COP30,stream,forest_pct,10 - 25,137,> 50,825,63219.0,0.026,1
11,Porijgi,EST,COP30,stream,forest_pct,25 - 50,288,> 50,825,142580.0,0.000,1
12,Porijgi,EST,HydroSHEDS,stream,forest_pct,< 10,223,10 - 25,138,14942.0,0.645,0
13,Porijgi,EST,HydroSHEDS,stream,forest_pct,< 10,223,25 - 50,278,32094.0,0.496,0
14,Porijgi,EST,HydroSHEDS,stream,forest_pct,< 10,223,> 50,810,110788.0,0.000,1
15,Porijgi,EST,HydroSHEDS,stream,forest_pct,10 - 25,138,25 - 50,278,20305.0,0.331,0
16,Porijgi,EST,HydroSHEDS,stream,forest_pct,10 - 25,138,> 50,810,69846.0,0.000,1
17,Porijgi,EST,HydroSHEDS,stream,forest_pct,25 - 50,278,> 50,810,134480.0,0.000,1
18,Porijgi,EST,MERIT,stream,forest_pct,< 10,148,10 - 25,90,7264.0,0.241,0
19,Porijgi,EST,MERIT,stream,forest_pct,< 10,148,25 - 50,196,18247.0,0.000,1
20,Porijgi,EST,MERIT,stream,forest_pct,< 10,148,> 50,1150,102690.0,0.000,1
21,Porijgi,EST,MERIT,stream,forest_pct,10 - 25,90,25 - 50,196,10628.0,0.005,1
22,Porijgi,EST,MERIT,stream,forest_pct,10 - 25,90,> 50,1150,59297.0,0.021,1
23,Porijgi,EST,MERIT,stream,forest_pct,25 - 50,196,> 50,1150,107549.0,0.306,0
24,Porijgi,EST,NASADEM,stream,forest_pct,< 10,247,10 - 25,195,25024.0,0.480,0
25,Porijgi,EST,NASADEM,stream,forest_pct,< 10,247,25 - 50,321,43257.0,0.062,0
26,Porijgi,EST,NASADEM,stream,forest_pct,< 10,247,> 50,967,147829.0,0.000,1
27,Porijgi,EST,NASADEM,stream,forest_pct,10 - 25,195,25 - 50,321,33067.0,0.281,0
28,Porijgi,EST,NASADEM,stream,forest_pct,10 - 25,195,> 50,967,115343.0,0.000,1
29,Porijgi,EST,NASADEM,stream,forest_pct,25 - 50,321,> 50,967,182298.0,0.000,1
30,Porijgi,EST,TanDEM,stream,forest_pct,< 10,317,10 - 25,171,32007.0,0.001,1
31,Porijgi,EST,TanDEM,stream,forest_pct,< 10,317,25 - 50,295,60885.0,0.000,1
32,Porijgi,EST,TanDEM,stream,forest_pct,< 10,317,> 50,1001,200113.0,0.000,1
33,Porijgi,EST,TanDEM,stream,forest_pct,10 - 25,171,25 - 50,295,28545.0,0.018,1
34,Porijgi,EST,TanDEM,stream,forest_pct,10 - 25,171,> 50,1001,95059.0,0.021,1
35,Porijgi,EST,TanDEM,stream,forest_pct,25 - 50,295,> 50,1001,146442.0,0.831,0

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Rib,ETH,AW3D30,stream,forest_pct,< 10,9156,10 - 25,643,2946828.5,0.963,0
1,Rib,ETH,AW3D30,stream,forest_pct,< 10,9156,25 - 50,279,1274788.0,0.956,0
2,Rib,ETH,AW3D30,stream,forest_pct,< 10,9156,> 50,126,659107.0,0.006,1
3,Rib,ETH,AW3D30,stream,forest_pct,10 - 25,643,25 - 50,279,89505.5,0.959,0
4,Rib,ETH,AW3D30,stream,forest_pct,10 - 25,643,> 50,126,46307.5,0.011,1
5,Rib,ETH,AW3D30,stream,forest_pct,25 - 50,279,> 50,126,20266.5,0.014,1
6,Rib,ETH,COP30,stream,forest_pct,< 10,7716,10 - 25,513,1963867.0,0.769,0
7,Rib,ETH,COP30,stream,forest_pct,< 10,7716,25 - 50,219,801042.5,0.190,0
8,Rib,ETH,COP30,stream,forest_pct,< 10,7716,> 50,101,423397.5,0.134,0
9,Rib,ETH,COP30,stream,forest_pct,10 - 25,513,25 - 50,219,53951.5,0.396,0
10,Rib,ETH,COP30,stream,forest_pct,10 - 25,513,> 50,101,28380.0,0.129,0
11,Rib,ETH,COP30,stream,forest_pct,25 - 50,219,> 50,101,12669.0,0.036,1
12,Rib,ETH,HydroSHEDS,stream,forest_pct,< 10,8109,10 - 25,450,1714124.0,0.030,1
13,Rib,ETH,HydroSHEDS,stream,forest_pct,< 10,8109,25 - 50,224,805999.0,0.004,1
14,Rib,ETH,HydroSHEDS,stream,forest_pct,< 10,8109,> 50,120,383528.0,0.000,1
15,Rib,ETH,HydroSHEDS,stream,forest_pct,10 - 25,450,25 - 50,224,47556.5,0.232,0
16,Rib,ETH,HydroSHEDS,stream,forest_pct,10 - 25,450,> 50,120,22632.0,0.006,1
17,Rib,ETH,HydroSHEDS,stream,forest_pct,25 - 50,224,> 50,120,12021.5,0.107,0
18,Rib,ETH,MERIT,stream,forest_pct,< 10,7660,10 - 25,488,1862214.5,0.892,0
19,Rib,ETH,MERIT,stream,forest_pct,< 10,7660,25 - 50,222,797160.0,0.112,0
20,Rib,ETH,MERIT,stream,forest_pct,< 10,7660,> 50,105,368206.0,0.137,0
21,Rib,ETH,MERIT,stream,forest_pct,10 - 25,488,25 - 50,222,50670.0,0.167,0
22,Rib,ETH,MERIT,stream,forest_pct,10 - 25,488,> 50,105,23411.0,0.166,0
23,Rib,ETH,MERIT,stream,forest_pct,25 - 50,222,> 50,105,11194.0,0.564,0
24,Rib,ETH,NASADEM,stream,forest_pct,< 10,8872,10 - 25,570,2819075.5,0.000,1
25,Rib,ETH,NASADEM,stream,forest_pct,< 10,8872,25 - 50,239,1173673.5,0.005,1
26,Rib,ETH,NASADEM,stream,forest_pct,< 10,8872,> 50,116,599584.5,0.002,1
27,Rib,ETH,NASADEM,stream,forest_pct,10 - 25,570,25 - 50,239,67383.5,0.810,0
28,Rib,ETH,NASADEM,stream,forest_pct,10 - 25,570,> 50,116,34116.0,0.587,0
29,Rib,ETH,NASADEM,stream,forest_pct,25 - 50,239,> 50,116,14736.0,0.335,0
30,Rib,ETH,TanDEM,stream,forest_pct,< 10,8121,10 - 25,486,2047905.5,0.161,0
31,Rib,ETH,TanDEM,stream,forest_pct,< 10,8121,25 - 50,229,890934.0,0.279,0
32,Rib,ETH,TanDEM,stream,forest_pct,< 10,8121,> 50,119,472224.0,0.670,0
33,Rib,ETH,TanDEM,stream,forest_pct,10 - 25,486,25 - 50,229,50989.0,0.071,0
34,Rib,ETH,TanDEM,stream,forest_pct,10 - 25,486,> 50,119,27007.0,0.264,0
35,Rib,ETH,TanDEM,stream,forest_pct,25 - 50,229,> 50,119,13843.5,0.807,0

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Argos,ESP,AW3D30,basin,slope_median,< 5,505,5 - 10,484,140702.5,0.000,1
1,Argos,ESP,AW3D30,basin,slope_median,< 5,505,10 - 40,835,241343.5,0.000,1
2,Argos,ESP,AW3D30,basin,slope_median,< 5,505,> 40,0,NaN,NaN,0
3,Argos,ESP,AW3D30,basin,slope_median,5 - 10,484,10 - 40,835,200043.5,0.761,0
4,Argos,ESP,AW3D30,basin,slope_median,5 - 10,484,> 40,0,NaN,NaN,0
5,Argos,ESP,AW3D30,basin,slope_median,10 - 40,835,> 40,0,NaN,NaN,0
6,Argos,ESP,COP30,basin,slope_median,< 5,462,5 - 10,525,130888.5,0.031,1
7,Argos,ESP,COP30,basin,slope_median,< 5,462,10 - 40,794,194767.5,0.067,0
8,Argos,ESP,COP30,basin,slope_median,< 5,462,> 40,0,NaN,NaN,0
9,Argos,ESP,COP30,basin,slope_median,5 - 10,525,10 - 40,794,204867.0,0.599,0
10,Argos,ESP,COP30,basin,slope_median,5 - 10,525,> 40,0,NaN,NaN,0
11,Argos,ESP,COP30,basin,slope_median,10 - 40,794,> 40,0,NaN,NaN,0
12,Argos,ESP,HydroSHEDS,basin,slope_median,< 5,444,5 - 10,425,112113.5,0.000,1
13,Argos,ESP,HydroSHEDS,basin,slope_median,< 5,444,10 - 40,790,189441.5,0.019,1
14,Argos,ESP,HydroSHEDS,basin,slope_median,< 5,444,> 40,2,701.0,0.158,0
15,Argos,ESP,HydroSHEDS,basin,slope_median,5 - 10,425,10 - 40,790,146564.0,0.000,1
16,Argos,ESP,HydroSHEDS,basin,slope_median,5 - 10,425,> 40,2,633.0,0.233,0
17,Argos,ESP,HydroSHEDS,basin,slope_median,10 - 40,790,> 40,2,1253.0,0.152,0
18,Argos,ESP,MERIT,basin,slope_median,< 5,455,5 - 10,429,108693.0,0.003,1
19,Argos,ESP,MERIT,basin,slope_median,< 5,455,10 - 40,801,188423.0,0.316,0
20,Argos,ESP,MERIT,basin,slope_median,< 5,455,> 40,0,NaN,NaN,0
21,Argos,ESP,MERIT,basin,slope_median,5 - 10,429,10 - 40,801,154876.0,0.004,1
22,Argos,ESP,MERIT,basin,slope_median,5 - 10,429,> 40,0,NaN,NaN,0
23,Argos,ESP,MERIT,basin,slope_median,10 - 40,801,> 40,0,NaN,NaN,0
24,Argos,ESP,NASADEM,basin,slope_median,< 5,497,5 - 10,476,135566.0,0.000,1
25,Argos,ESP,NASADEM,basin,slope_median,< 5,497,10 - 40,857,237135.0,0.000,1
26,Argos,ESP,NASADEM,basin,slope_median,< 5,497,> 40,0,NaN,NaN,0
27,Argos,ESP,NASADEM,basin,slope_median,5 - 10,476,10 - 40,857,196692.0,0.280,0
28,Argos,ESP,NASADEM,basin,slope_median,5 - 10,476,> 40,0,NaN,NaN,0
29,Argos,ESP,NASADEM,basin,slope_median,10 - 40,857,> 40,0,NaN,NaN,0
30,Argos,ESP,TanDEM,basin,slope_median,< 5,472,5 - 10,417,107085.0,0.023,1
31,Argos,ESP,TanDEM,basin,slope_median,< 5,472,10 - 40,806,203860.0,0.032,1
32,Argos,ESP,TanDEM,basin,slope_median,< 5,472,> 40,1,436.0,0.144,0
33,Argos,ESP,TanDEM,basin,slope_median,5 - 10,417,10 - 40,806,163731.0,0.461,0
34,Argos,ESP,TanDEM,basin,slope_median,5 - 10,417,> 40,1,390.0,0.134,0
35,Argos,ESP,TanDEM,basin,slope_median,10 - 40,806,> 40,1,743.0,0.159,0

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Bald Eagle,USA,AW3D30,basin,slope_median,< 5,1696,5 - 10,1107,1039579.0,0.000,1
1,Bald Eagle,USA,AW3D30,basin,slope_median,< 5,1696,10 - 40,683,708877.0,0.000,1
2,Bald Eagle,USA,AW3D30,basin,slope_median,5 - 10,1107,10 - 40,683,424146.0,0.000,1
3,Bald Eagle,USA,COP30,basin,slope_median,< 5,1689,5 - 10,1090,1043943.0,0.000,1
4,Bald Eagle,USA,COP30,basin,slope_median,< 5,1689,10 - 40,692,762638.0,0.000,1
5,Bald Eagle,USA,COP30,basin,slope_median,5 - 10,1090,10 - 40,692,442908.0,0.000,1
6,Bald Eagle,USA,HydroSHEDS,basin,slope_median,< 5,1537,5 - 10,1051,819419.0,0.530,0
7,Bald Eagle,USA,HydroSHEDS,basin,slope_median,< 5,1537,10 - 40,659,566964.0,0.000,1
8,Bald Eagle,USA,HydroSHEDS,basin,slope_median,5 - 10,1051,10 - 40,659,383192.0,0.000,1
9,Bald Eagle,USA,MERIT,basin,slope_median,< 5,1520,5 - 10,1035,760488.0,0.154,0
10,Bald Eagle,USA,MERIT,basin,slope_median,< 5,1520,10 - 40,615,495602.0,0.029,1
11,Bald Eagle,USA,MERIT,basin,slope_median,5 - 10,1035,10 - 40,615,347750.0,0.002,1
12,Bald Eagle,USA,NASADEM,basin,slope_median,< 5,1684,5 - 10,1138,1101007.0,0.000,1
13,Bald Eagle,USA,NASADEM,basin,slope_median,< 5,1684,10 - 40,637,672457.0,0.000,1
14,Bald Eagle,USA,NASADEM,basin,slope_median,5 - 10,1138,10 - 40,637,403419.0,0.000,1
15,Bald Eagle,USA,TanDEM,basin,slope_median,< 5,1513,5 - 10,1039,766007.0,0.274,0
16,Bald Eagle,USA,TanDEM,basin,slope_median,< 5,1513,10 - 40,657,494799.0,0.868,0
17,Bald Eagle,USA,TanDEM,basin,slope_median,5 - 10,1039,10 - 40,657,348110.0,0.489,0

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Porijgi,EST,AW3D30,basin,slope_median,< 5,533,5 - 10,598,150871.0,0.121,0
1,Porijgi,EST,AW3D30,basin,slope_median,< 5,533,10 - 40,96,26280.0,0.671,0
2,Porijgi,EST,AW3D30,basin,slope_median,< 5,533,> 40,28,3188.0,0.000,1
3,Porijgi,EST,AW3D30,basin,slope_median,5 - 10,598,10 - 40,96,31506.0,0.124,0
4,Porijgi,EST,AW3D30,basin,slope_median,5 - 10,598,> 40,28,3363.0,0.000,1
5,Porijgi,EST,AW3D30,basin,slope_median,10 - 40,96,> 40,28,412.0,0.000,1
6,Porijgi,EST,COP30,basin,slope_median,< 5,809,5 - 10,497,209364.0,0.208,0
7,Porijgi,EST,COP30,basin,slope_median,< 5,809,10 - 40,62,32666.0,0.000,1
8,Porijgi,EST,COP30,basin,slope_median,< 5,809,> 40,4,742.0,0.060,0
9,Porijgi,EST,COP30,basin,slope_median,5 - 10,497,10 - 40,62,19891.0,0.000,1
10,Porijgi,EST,COP30,basin,slope_median,5 - 10,497,> 40,4,372.0,0.027,1
11,Porijgi,EST,COP30,basin,slope_median,10 - 40,62,> 40,4,18.0,0.001,1
12,Porijgi,EST,HydroSHEDS,basin,slope_median,< 5,632,5 - 10,521,165041.0,0.943,0
13,Porijgi,EST,HydroSHEDS,basin,slope_median,< 5,632,10 - 40,58,21411.0,0.034,1
14,Porijgi,EST,HydroSHEDS,basin,slope_median,< 5,632,> 40,0,NaN,NaN,0
15,Porijgi,EST,HydroSHEDS,basin,slope_median,5 - 10,521,10 - 40,58,17689.0,0.033,1
16,Porijgi,EST,HydroSHEDS,basin,slope_median,5 - 10,521,> 40,0,NaN,NaN,0
17,Porijgi,EST,HydroSHEDS,basin,slope_median,10 - 40,58,> 40,0,NaN,NaN,0
18,Porijgi,EST,MERIT,basin,slope_median,< 5,778,5 - 10,422,152812.0,0.048,1
19,Porijgi,EST,MERIT,basin,slope_median,< 5,778,10 - 40,65,31113.0,0.002,1
20,Porijgi,EST,MERIT,basin,slope_median,< 5,778,> 40,0,NaN,NaN,0
21,Porijgi,EST,MERIT,basin,slope_median,5 - 10,422,10 - 40,65,17730.0,0.000,1
22,Porijgi,EST,MERIT,basin,slope_median,5 - 10,422,> 40,0,NaN,NaN,0
23,Porijgi,EST,MERIT,basin,slope_median,10 - 40,65,> 40,0,NaN,NaN,0
24,Porijgi,EST,NASADEM,basin,slope_median,< 5,555,5 - 10,562,140487.0,0.004,1
25,Porijgi,EST,NASADEM,basin,slope_median,< 5,555,10 - 40,112,33841.0,0.138,0
26,Porijgi,EST,NASADEM,basin,slope_median,< 5,555,> 40,61,2377.0,0.000,1
27,Porijgi,EST,NASADEM,basin,slope_median,5 - 10,562,10 - 40,112,37678.0,0.001,1
28,Porijgi,EST,NASADEM,basin,slope_median,5 - 10,562,> 40,61,1710.0,0.000,1
29,Porijgi,EST,NASADEM,basin,slope_median,10 - 40,112,> 40,61,79.0,0.000,1
30,Porijgi,EST,TanDEM,basin,slope_median,< 5,726,5 - 10,529,183478.0,0.178,0
31,Porijgi,EST,TanDEM,basin,slope_median,< 5,726,10 - 40,74,32406.0,0.003,1
32,Porijgi,EST,TanDEM,basin,slope_median,< 5,726,> 40,0,NaN,NaN,0
33,Porijgi,EST,TanDEM,basin,slope_median,5 - 10,529,10 - 40,74,24689.0,0.000,1
34,Porijgi,EST,TanDEM,basin,slope_median,5 - 10,529,> 40,0,NaN,NaN,0
35,Porijgi,EST,TanDEM,basin,slope_median,10 - 40,74,> 40,0,NaN,NaN,0

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Rib,ETH,AW3D30,basin,slope_median,< 5,1104,5 - 10,764,489926.0,0.000,1
1,Rib,ETH,AW3D30,basin,slope_median,< 5,1104,10 - 40,1036,690148.0,0.000,1
2,Rib,ETH,AW3D30,basin,slope_median,< 5,1104,> 40,2,934.0,0.717,0
3,Rib,ETH,AW3D30,basin,slope_median,5 - 10,764,10 - 40,1036,417541.0,0.046,1
4,Rib,ETH,AW3D30,basin,slope_median,5 - 10,764,> 40,2,478.0,0.393,0
5,Rib,ETH,AW3D30,basin,slope_median,10 - 40,1036,> 40,2,573.0,0.307,0
6,Rib,ETH,COP30,basin,slope_median,< 5,1071,5 - 10,772,455530.0,0.000,1
7,Rib,ETH,COP30,basin,slope_median,< 5,1071,10 - 40,1051,634510.0,0.000,1
8,Rib,ETH,COP30,basin,slope_median,< 5,1071,> 40,1,1071.0,0.002,1
9,Rib,ETH,COP30,basin,slope_median,5 - 10,772,10 - 40,1051,417979.0,0.268,0
10,Rib,ETH,COP30,basin,slope_median,5 - 10,772,> 40,1,772.0,0.003,1
11,Rib,ETH,COP30,basin,slope_median,10 - 40,1051,> 40,1,1051.0,0.002,1
12,Rib,ETH,HydroSHEDS,basin,slope_median,< 5,1042,5 - 10,762,434048.0,0.001,1
13,Rib,ETH,HydroSHEDS,basin,slope_median,< 5,1042,10 - 40,1163,656146.0,0.001,1
14,Rib,ETH,HydroSHEDS,basin,slope_median,< 5,1042,> 40,2,1064.0,0.959,0
15,Rib,ETH,HydroSHEDS,basin,slope_median,5 - 10,762,10 - 40,1163,438747.0,0.715,0
16,Rib,ETH,HydroSHEDS,basin,slope_median,5 - 10,762,> 40,2,678.0,0.793,0
17,Rib,ETH,HydroSHEDS,basin,slope_median,10 - 40,1163,> 40,2,1060.0,0.832,0
18,Rib,ETH,MERIT,basin,slope_median,< 5,1112,5 - 10,785,480661.0,0.000,1
19,Rib,ETH,MERIT,basin,slope_median,< 5,1112,10 - 40,1102,700449.0,0.000,1
20,Rib,ETH,MERIT,basin,slope_median,< 5,1112,> 40,3,1871.0,0.731,0
21,Rib,ETH,MERIT,basin,slope_median,5 - 10,785,10 - 40,1102,452104.0,0.093,0
22,Rib,ETH,MERIT,basin,slope_median,5 - 10,785,> 40,3,1189.0,0.979,0
23,Rib,ETH,MERIT,basin,slope_median,10 - 40,1102,> 40,3,1577.0,0.898,0
24,Rib,ETH,NASADEM,basin,slope_median,< 5,1087,5 - 10,779,456334.0,0.004,1
25,Rib,ETH,NASADEM,basin,slope_median,< 5,1087,10 - 40,1043,651424.0,0.000,1
26,Rib,ETH,NASADEM,basin,slope_median,< 5,1087,> 40,1,547.0,0.994,0
27,Rib,ETH,NASADEM,basin,slope_median,5 - 10,779,10 - 40,1043,438748.0,0.003,1
28,Rib,ETH,NASADEM,basin,slope_median,5 - 10,779,> 40,1,369.0,0.949,0
29,Rib,ETH,NASADEM,basin,slope_median,10 - 40,1043,> 40,1,421.0,0.808,0
30,Rib,ETH,TanDEM,basin,slope_median,< 5,1094,5 - 10,766,442154.0,0.042,1
31,Rib,ETH,TanDEM,basin,slope_median,< 5,1094,10 - 40,1081,648811.0,0.000,1
32,Rib,ETH,TanDEM,basin,slope_median,< 5,1094,> 40,1,588.0,0.926,0
33,Rib,ETH,TanDEM,basin,slope_median,5 - 10,766,10 - 40,1081,432721.0,0.098,0
34,Rib,ETH,TanDEM,basin,slope_median,5 - 10,766,> 40,1,386.0,0.993,0
35,Rib,ETH,TanDEM,basin,slope_median,10 - 40,1081,> 40,1,512.0,0.948,0

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Argos,ESP,AW3D30,stream,slope_median,< 5,1865,5 - 10,938,1158159.0,0.000,1
1,Argos,ESP,AW3D30,stream,slope_median,< 5,1865,10 - 40,617,826935.5,0.000,1
2,Argos,ESP,AW3D30,stream,slope_median,5 - 10,938,10 - 40,617,324789.5,0.000,1
3,Argos,ESP,COP30,stream,slope_median,< 5,1546,5 - 10,790,728308.0,0.000,1
4,Argos,ESP,COP30,stream,slope_median,< 5,1546,10 - 40,488,464572.5,0.000,1
5,Argos,ESP,COP30,stream,slope_median,5 - 10,790,10 - 40,488,201098.5,0.193,0
6,Argos,ESP,HydroSHEDS,stream,slope_median,< 5,1609,5 - 10,805,699371.5,0.001,1
7,Argos,ESP,HydroSHEDS,stream,slope_median,< 5,1609,10 - 40,696,573751.5,0.346,0
8,Argos,ESP,HydroSHEDS,stream,slope_median,5 - 10,805,10 - 40,696,261188.5,0.024,1
9,Argos,ESP,MERIT,stream,slope_median,< 5,1683,5 - 10,859,902241.5,0.000,1
10,Argos,ESP,MERIT,stream,slope_median,< 5,1683,10 - 40,609,645273.0,0.000,1
11,Argos,ESP,MERIT,stream,slope_median,5 - 10,859,10 - 40,609,260996.5,0.943,0
12,Argos,ESP,NASADEM,stream,slope_median,< 5,1856,5 - 10,861,1037173.0,0.000,1
13,Argos,ESP,NASADEM,stream,slope_median,< 5,1856,10 - 40,582,773924.0,0.000,1
14,Argos,ESP,NASADEM,stream,slope_median,5 - 10,861,10 - 40,582,290541.0,0.000,1
15,Argos,ESP,TanDEM,stream,slope_median,< 5,1650,5 - 10,821,826653.0,0.000,1
16,Argos,ESP,TanDEM,stream,slope_median,< 5,1650,10 - 40,616,632270.5,0.000,1
17,Argos,ESP,TanDEM,stream,slope_median,5 - 10,821,10 - 40,616,257599.0,0.543,0

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Bald Eagle,USA,AW3D30,stream,slope_median,< 5,3436,5 - 10,3288,7018770.0,0.000,1
1,Bald Eagle,USA,AW3D30,stream,slope_median,< 5,3436,10 - 40,3487,8741743.0,0.000,1
2,Bald Eagle,USA,AW3D30,stream,slope_median,5 - 10,3288,10 - 40,3487,7199381.5,0.000,1
3,Bald Eagle,USA,COP30,stream,slope_median,< 5,3059,5 - 10,3017,5748937.0,0.000,1
4,Bald Eagle,USA,COP30,stream,slope_median,< 5,3059,10 - 40,3060,6755869.0,0.000,1
5,Bald Eagle,USA,COP30,stream,slope_median,5 - 10,3017,10 - 40,3060,5766129.5,0.000,1
6,Bald Eagle,USA,HydroSHEDS,stream,slope_median,< 5,2945,5 - 10,3025,5132731.5,0.000,1
7,Bald Eagle,USA,HydroSHEDS,stream,slope_median,< 5,2945,10 - 40,3456,6092573.5,0.000,1
8,Bald Eagle,USA,HydroSHEDS,stream,slope_median,5 - 10,3025,10 - 40,3456,5487261.0,0.001,1
9,Bald Eagle,USA,MERIT,stream,slope_median,< 5,2732,5 - 10,3287,5344193.0,0.000,1
10,Bald Eagle,USA,MERIT,stream,slope_median,< 5,2732,10 - 40,3444,5593926.0,0.000,1
11,Bald Eagle,USA,MERIT,stream,slope_median,5 - 10,3287,10 - 40,3444,5617915.0,0.596,0
12,Bald Eagle,USA,NASADEM,stream,slope_median,< 5,3292,5 - 10,3197,6856505.5,0.000,1
13,Bald Eagle,USA,NASADEM,stream,slope_median,< 5,3292,10 - 40,3174,7856836.5,0.000,1
14,Bald Eagle,USA,NASADEM,stream,slope_median,5 - 10,3197,10 - 40,3174,6380813.0,0.000,1
15,Bald Eagle,USA,TanDEM,stream,slope_median,< 5,3064,5 - 10,3001,5690561.5,0.000,1
16,Bald Eagle,USA,TanDEM,stream,slope_median,< 5,3064,10 - 40,3333,6596704.5,0.000,1
17,Bald Eagle,USA,TanDEM,stream,slope_median,5 - 10,3001,10 - 40,3333,5272630.5,0.000,1

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Porijgi,EST,AW3D30,stream,slope_median,< 5,1481,5 - 10,238,172739.0,0.622,0
1,Porijgi,EST,AW3D30,stream,slope_median,< 5,1481,10 - 40,33,25673.0,0.619,0
2,Porijgi,EST,AW3D30,stream,slope_median,5 - 10,238,10 - 40,33,4161.0,0.580,0
3,Porijgi,EST,COP30,stream,slope_median,< 5,1115,5 - 10,260,142236.0,0.638,0
4,Porijgi,EST,COP30,stream,slope_median,< 5,1115,10 - 40,42,23954.0,0.800,0
5,Porijgi,EST,COP30,stream,slope_median,5 - 10,260,10 - 40,42,5667.0,0.694,0
6,Porijgi,EST,HydroSHEDS,stream,slope_median,< 5,1190,5 - 10,236,159490.0,0.001,1
7,Porijgi,EST,HydroSHEDS,stream,slope_median,< 5,1190,10 - 40,23,14554.0,0.602,0
8,Porijgi,EST,HydroSHEDS,stream,slope_median,5 - 10,236,10 - 40,23,2467.0,0.472,0
9,Porijgi,EST,MERIT,stream,slope_median,< 5,1155,5 - 10,392,220994.0,0.481,0
10,Porijgi,EST,MERIT,stream,slope_median,< 5,1155,10 - 40,37,23963.0,0.208,0
11,Porijgi,EST,MERIT,stream,slope_median,5 - 10,392,10 - 40,37,8316.0,0.140,0
12,Porijgi,EST,NASADEM,stream,slope_median,< 5,1440,5 - 10,260,211349.0,0.001,1
13,Porijgi,EST,NASADEM,stream,slope_median,< 5,1440,10 - 40,30,25479.0,0.092,0
14,Porijgi,EST,NASADEM,stream,slope_median,5 - 10,260,10 - 40,30,4211.0,0.475,0
15,Porijgi,EST,TanDEM,stream,slope_median,< 5,1400,5 - 10,329,218412.0,0.145,0
16,Porijgi,EST,TanDEM,stream,slope_median,< 5,1400,10 - 40,55,37378.0,0.714,0
17,Porijgi,EST,TanDEM,stream,slope_median,5 - 10,329,10 - 40,55,9199.0,0.843,0

,catchment_name,country_code,dem_name,feature_type,stat_name,class_1,count_1,class_2,count_2,U,p,significant
0,Rib,ETH,AW3D30,stream,slope_median,< 5,4947,5 - 10,2964,8892262.5,0.000,1
1,Rib,ETH,AW3D30,stream,slope_median,< 5,4947,10 - 40,2286,7117902.5,0.000,1
2,Rib,ETH,AW3D30,stream,slope_median,< 5,4947,> 40,7,20202.0,0.445,0
3,Rib,ETH,AW3D30,stream,slope_median,5 - 10,2964,10 - 40,2286,3563507.5,0.001,1
4,Rib,ETH,AW3D30,stream,slope_median,5 - 10,2964,> 40,7,9972.0,0.859,0
5,Rib,ETH,AW3D30,stream,slope_median,10 - 40,2286,> 40,7,7365.5,0.717,0
6,Rib,ETH,COP30,stream,slope_median,< 5,4209,5 - 10,2451,6162970.0,0.000,1
7,Rib,ETH,COP30,stream,slope_median,< 5,4209,10 - 40,1883,4938789.5,0.000,1
8,Rib,ETH,COP30,stream,slope_median,< 5,4209,> 40,6,19049.0,0.031,1
9,Rib,ETH,COP30,stream,slope_median,5 - 10,2451,10 - 40,1883,2430843.5,0.003,1
10,Rib,ETH,COP30,stream,slope_median,5 - 10,2451,> 40,6,9914.0,0.140,0
11,Rib,ETH,COP30,stream,slope_median,10 - 40,1883,> 40,6,7372.5,0.196,0
12,Rib,ETH,HydroSHEDS,stream,slope_median,< 5,4358,5 - 10,2500,6039498.5,0.000,1
13,Rib,ETH,HydroSHEDS,stream,slope_median,< 5,4358,10 - 40,2038,4991125.0,0.000,1
14,Rib,ETH,HydroSHEDS,stream,slope_median,< 5,4358,> 40,7,16034.0,0.815,0
15,Rib,ETH,HydroSHEDS,stream,slope_median,5 - 10,2500,10 - 40,2038,2588056.5,0.356,0
16,Rib,ETH,HydroSHEDS,stream,slope_median,5 - 10,2500,> 40,7,8279.0,0.806,0
17,Rib,ETH,HydroSHEDS,stream,slope_median,10 - 40,2038,> 40,7,6601.0,0.733,0
18,Rib,ETH,MERIT,stream,slope_median,< 5,4184,5 - 10,2314,5445311.0,0.000,1
19,Rib,ETH,MERIT,stream,slope_median,< 5,4184,10 - 40,1974,4473209.5,0.000,1
20,Rib,ETH,MERIT,stream,slope_median,< 5,4184,> 40,3,9470.0,0.127,0
21,Rib,ETH,MERIT,stream,slope_median,5 - 10,2314,10 - 40,1974,2175566.5,0.007,1
22,Rib,ETH,MERIT,stream,slope_median,5 - 10,2314,> 40,3,4925.0,0.209,0
23,Rib,ETH,MERIT,stream,slope_median,10 - 40,1974,> 40,3,4348.0,0.161,0
24,Rib,ETH,NASADEM,stream,slope_median,< 5,4880,5 - 10,2756,7929824.5,0.000,1
25,Rib,ETH,NASADEM,stream,slope_median,< 5,4880,10 - 40,2156,6364247.0,0.000,1
26,Rib,ETH,NASADEM,stream,slope_median,< 5,4880,> 40,5,12951.0,0.812,0
27,Rib,ETH,NASADEM,stream,slope_median,5 - 10,2756,10 - 40,2156,3057021.0,0.081,0
28,Rib,ETH,NASADEM,stream,slope_median,5 - 10,2756,> 40,5,6307.0,0.744,0
29,Rib,ETH,NASADEM,stream,slope_median,10 - 40,2156,> 40,5,4782.5,0.663,0
30,Rib,ETH,TanDEM,stream,slope_median,< 5,4471,5 - 10,2425,6110096.5,0.000,1
31,Rib,ETH,TanDEM,stream,slope_median,< 5,4471,10 - 40,2056,5353838.5,0.000,1
32,Rib,ETH,TanDEM,stream,slope_median,< 5,4471,> 40,3,7841.0,0.612,0
33,Rib,ETH,TanDEM,stream,slope_median,5 - 10,2425,10 - 40,2056,2589953.0,0.025,1
34,Rib,ETH,TanDEM,stream,slope_median,5 - 10,2425,> 40,3,3755.5,0.923,0
35,Rib,ETH,TanDEM,stream,slope_median,10 - 40,2056,> 40,3,3050.0,0.974,0